.carousel-indicators{
    top: 100%;
    background-color: #fff;
    height: 40px;
}
.carousel-indicators > li{
    background-color: #45d26e !important;
    display: block;
    width: 2vw !important;
    height: 2vw !important;
    border-radius: 50%;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4vw;
    text-align: center;
    line-height: 15vw;
    /* margin: 5%; */
    margin-left: 10%;
}